@import url("http://fonts.cdnfonts.com/css/we-used-to-be-friends");

.header {
    height: 6.5rem;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    .wrap {
        position: relative;
        height: 100%;
        max-width: 1450px;
        margin: 0 auto;

        .logo {
            position: absolute;
            font-size: 2.6rem;
            letter-spacing: 1px;
            top: 50%;
            left: 10px;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            transform: translateY(-50%);
            font-family: "We Used To Be Friends", sans-serif;
            h1 {
                display: block;
                margin: 0;
                width: 100%;
            }
        }
    }
}
